# Ignore python binaries
*.pyc
utils/*pyc

# Ignore R data and output
*.Rout
*.RData
*.txt
R/*.txt
tmp/
R/tmp
R/*.RData
R/*.Rout

# Ignore plots
*.pdf
R/*.pdf
utils/*.pdf

# Ignore python output
.ipynb_checkpoints/

